$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'styles/theme.scss';

.navbar {
  border-radius: 0;
}

.body {
  padding-top: 50px;
  padding-bottom: 50px;
}
